/* Put your CSS here */
html, body {
    margin: 20px;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

.form-element {
  margin-top: 1em;
}

.actions {
  margin-top: 1em;
}

.tribute-header {
  height: 40px;
}

.main-container {
  padding-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.title {
  font-size: 2em;
}
