doctype 5
html
  head
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    title Tribute
    != nap.css('all', gzipSupport)

  body
    include welcome
    include partials/_current_user
    include partials/_current_status
    include partials/_signin
    include projects
    include companies
    #scripts
      script!= app.exposed()
      != nap.js('vendor', gzipSupport)
      != nap.js('client', gzipSupport)
      != nap.js('mixins', gzipSupport)
      != nap.js('models', gzipSupport)
      != nap.js('controllers', gzipSupport)
      != nap.js('routes', gzipSupport)
      != nap.js('fixtures', gzipSupport)
