doctype 5
html
  head
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    title Tribute
    != nap.css('all', gzipSupport)

  body
    include index/welcome
    include partials/_status
    include partials/_signin
    #scripts
      script!= app.exposed()
      != nap.js('vendor', gzipSupport)
      != nap.js('client', gzipSupport)
