script(type='text/x-handlebars')
  h1
    | Welcome to Tribute!
  {{outlet}}

script(type="text/x-handlebars", data-template-name="index")
  {{partial "status"}}
  {{partial "user"}}
  {{partial "signin"}}
