script(type='text/x-handlebars')
  .ui.fixed.transparent.inverted.main.menu
    .tribute-header 
      .title.item
        | Tribute
      .link.item
        | {{#linkTo projects.index}} Projects {{/linkTo}}
      .link.item
        | {{#linkTo companies.index}} Companies {{/linkTo}}
      .link.item
        | {{#linkTo teams.index}} Teams {{/linkTo}}
  .main-container.segment
    {{outlet}}

script(type="text/x-handlebars", data-template-name="index")
  {{partial "status"}}
  {{partial "user"}}
  {{partial "signin"}}
