doctype 5
html
  head
    title Tribute
    != nap.css('all', gzipSupport)

  body#error
    #container
      h1
        | Error
      h2!= msg
    
      h3 #{code} Error
      if typeof trace != 'undefined'
        pre= trace
